*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}
body{
    background-color: lightblue;
}

.container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 265px);
    gap: 15px;
}

.container li{
    height: 250px;
    list-style: none;
    background-color: white;
    padding: 15px 20px 20px;
    border-radius: 5px;
}

.add-box, .setting .menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-box{
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.add-box .icon img{
    width: 85px;
    margin-bottom: 15px;
}

.container .note{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note p{
    font-size: 22px;
    font-weight: 500;
}

.note span{
    font-size: 16px;
    display: block;
    margin-top: 5px;

}

.note .bottom-cont{
    padding-top: 10px;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-cont .setting img{
    color: black;
    cursor: pointer;
    width: 20px;
}

.setting{
    position: relative;
}

.setting .menu{
    position: absolute;
    bottom: 0;
    right: -5px;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
    background-color: #fff;
    padding: 5px 0;
    transform: scale(0);
    transform-origin: bottom right;
    transition: transform 0.2s ease;
}

.setting:hover .menu{
    transform: scale(1);
}
.setting .menu li{
    height: 25px;
    border-radius: 0;
    justify-content: flex-start;
    cursor: pointer;
}

.menu li:hover{
    background-color: #f5f5f5;
}